body {
background-color: rgba(0,0,0,0.8);
color: inherit;
}




#tictactoe * {
  margin: auto;
    border-radius: 10px 10px 10px 10px;

}

#tictactoe {
  padding-top: 40px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 30px;
}


.menu, .header {
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 20px 0 20px 0;
  float: none;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid;
  border-image-source: linear-gradient(to right, black, white);
  border-image-slice: 1;
  color: #fff;

}

.menu * {
  text-align: center;
  margin: auto;
  display: block;
}

.menu p {
  display: inline;
}

.menu input {
  width: 190px;
}

#player1 {
  border-radius: 100%;
}

#avatar-menu *{
  display: inline;
  border-radius: 100%;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#avatar-menu img {
 box-shadow: 10px 10px 8px rgba(0,0,0,0.5);
 margin: 5px;
}

td {
  font-size:80px;
  color: inherit;
  height: 128px;
  width: 128px;
  text-align: center;
  background-size: cover;
}

.col0,.col1 {
  color: rgba(100,100,100,0.4);
  border-right: 2px solid;
  border-image-source: linear-gradient(to right, black, white);
  border-image-slice: 2;
}


.row0,.row1 {
  color: rgba(100,100,100,0.4);
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to right, black, white);
  border-image-slice: 2;



}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




